.hamb {
  display: block;
  background-image: url(../img/hamburger.svg);
  background-position: center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.footer-div {
  height: 100px;
}

.formula-box {
  display: flex;
  justify-content: center;
  height: 80px;
  overflow: hidden;
}

.formula-img {
  display: block;
  width: 277px;
  height: 158px;
  transition: margin 0.3s ease;
}

.change-dir {
  margin-top: -80px;
}

.js-log-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
